html, body, #root, .container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #607d8b;
  width: calc(100% - 48px);
  padding: 0 24px;
  display: flex;
}

.header-item {
  padding: 8px 16px;
  cursor: pointer;
}

.header-item.active {
  font-weight: bold;
  text-decoration: underline;
}

.content-container {
  flex-grow: 1;
  width: 100%;
}

.countries-container,
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.countries-container {
  flex-direction: column;
}